/* ============================
   app/assets/design-system/base.scss
   ============================ */

/* 🔄 Base Styles */

/* Global Box Sizing Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset Scrollbars */
html, body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* General Resets & Base Typography */
body {
  font-family: var(--font-sans);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--ui-bg);
  color: var(--ui-text);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}