/*******************************
   app/assets/design-system/components/page.scss
   ============================ */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100%; /* Ensure it expands fully when needed */
  margin: 0 auto;
}