/* ============================
   app/assets/design-system/atoms/atoms.scss
   ============================ */

/* UI Icons */

.badge {
  display: inline-block;
  width: fit-content;
  align-self: start;
}
